@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sidebar-bg: #f4f4f6;
  --sidebar-active: #DCDCDE;
  --header-bg: #ffffff;
  --content-bg: #f4f4f6;
  --border-color: #e4e4e8;
  --text-muted: #475467;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-bg: var(--sidebar-bg);
  --color-sidebar-active: var(--sidebar-active);
  --color-header-bg: var(--header-bg);
  --color-content-bg: var(--content-bg);
  --color-border: var(--border-color);
  --color-text-muted: var(--text-muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 3px;
}

.transition-sidebar {
  transition: width 300ms ease-in-out, margin-left 300ms ease-in-out;
}
